<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.web.ch04.ex02.dao.mapper.HRMapper">
	<select id="getEmpCnt" resultType="employee">
		select count(employee_id) empCnt from employees
	</select>
</mapper>